*{
    box-sizing: border-box;
}
img{
    float: left;
    width: 500px;

}
.cont-1, .cont-2{
    background-color: gray;
    width: 90%;
    height: 900px;
    margin: -20px auto;
}
p{
    margin:0 auto;
    padding:0 auto;
}
.clear{
    clear: both;
}
.f-left{
    float: left;
}
