/* header */

header{
    background-color: gray;

}
h1{
    font-size: 80px;
    color: white;
}
 header span{
    color: yellow;
    font-size: 120px;
}
nav{
    background-color: rgb(172, 169, 169);
}
a{
    color: white;
}
/*main*/

figcaption{
    color: rgb(231, 142, 7);
    text-align: right;
    
}
p{
    text-indent: 30px;
}
}
p span{
    font-size: 20px;
    letter-spacing: 1em;
    color: tomato;
}
article a{
    color: yellowgreen;
    text-decoration: none;
    font-size: 30px;
}
section h4{
    background-color: violet;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
}
aside section ul {
    font-size: 30px;
    text-decoration: none;
    color: red;
    text-align: center;
}
/*footer*/

footer{
    background-color: gray;
    text-align: center;
}