*{
    box-sizing: border-box;
}
.container {
    display: grid;
    width: 1250px;
    height: auto;
    border: 1px solid black;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px 10px;
    grid-template-areas:
        "header header header header"
        "article1 article2 article3 article4"
        "article5 article6 article7 article8"
        "footer footer footer footer";
  }
  .header {
    grid-area: header;
    border: 1px solid black;
    background-color: seagreen;
  }
  
  .article {
    grid-area: article;
    border: 1px solid black;
    background-color: salmon;
  }
  .article1{
      grid-area: article1;
  }
  .article2{
    grid-area: article2;
}  .article3{
    grid-area: article3;
}  .article4{
    grid-area: article4;
}  .article5{
    grid-area: article5;
}  .article6{
    grid-area: article6;
}  .article7{
    grid-area: article7;
}  .article8{
    grid-area: article8;
}

  .footer {
    grid-area: footer;
    border: 1px solid black;
    background-color: sandybrown;
  }
